PresentationLayer/Web References/BrandSelected/FilteredBrand.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Select_ProdByBrand">
        <s:complexType />
      </s:element>
      <s:element name="Select_ProdByBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Select_ProdByBrandResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Select_ProdByBrandSoapIn">
    <wsdl:part name="parameters" element="tns:Select_ProdByBrand" />
  </wsdl:message>
  <wsdl:message name="Select_ProdByBrandSoapOut">
    <wsdl:part name="parameters" element="tns:Select_ProdByBrandResponse" />
  </wsdl:message>
  <wsdl:portType name="FilteredBrandSoap">
    <wsdl:operation name="Select_ProdByBrand">
      <wsdl:input message="tns:Select_ProdByBrandSoapIn" />
      <wsdl:output message="tns:Select_ProdByBrandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilteredBrandSoap" type="tns:FilteredBrandSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select_ProdByBrand">
      <soap:operation soapAction="http://tempuri.org/Select_ProdByBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilteredBrandSoap12" type="tns:FilteredBrandSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select_ProdByBrand">
      <soap12:operation soapAction="http://tempuri.org/Select_ProdByBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilteredBrand">
    <wsdl:port name="FilteredBrandSoap" binding="tns:FilteredBrandSoap">
      <soap:address location="http://localhost:49893/FilteredBrand.asmx" />
    </wsdl:port>
    <wsdl:port name="FilteredBrandSoap12" binding="tns:FilteredBrandSoap12">
      <soap12:address location="http://localhost:49893/FilteredBrand.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>